=gradient($from, $to)

  background: $from
  background: -moz-linear-gradient(top, $from 0%, $to 100%)
  background: -webkit-linear-gradient(top, $from 0%, $to 100%)
  background: linear-gradient(to bottom, $from 0%, $to 100%)

=flex($flow, $justify, $align)

  display: flex
  flex-flow: $flow
  justify-content: $justify
  align-items: $align

=firstHeaderRow()

  opacity: 1
  padding-top: 55px
  height: 85px
  transition: opacity 0.3s, padding 0.6s ease-in