html
  font-size: 10px

body
  margin: 0
  padding: 197px 0 0 0
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif
  width: 100%
  height: 100%
  font-size: 1.4rem

  img
    width: auto
    max-width: 100%

  a
    color: #757575
    text-decoration: none
    &:hover
      color: $primary-color
      text-decoration: underline

  h1, h2, h3, h4
    padding: 0
    margin: 0
    font-weight: 900
    color: $primary-color
    text-transform: uppercase

  ul
    padding: 0
    margin: 0
    list-style: none

  div.wrapper
    width: $main-width
    margin: 0 auto
    text-align: left

  div.holder
    &:after
      content: ""
      display: block
      clear: both

  .v-padding
    padding: 4rem 0

  .no-padding
    [class*="col-"]
      padding-left: 0 !important
      padding-right: 0 !important

    .left-indent
      padding-left: 18px !important

    .right-indent
      padding-right: 18px !important


  @media #{screen} and (max-width: 1221px)
    div.wrapper
      width: 100%

    .breadcrumbs
      padding: 0 18px

    header
      padding: 0 18px

      .info-holder
        padding: 3.6rem 0 0 0 !important