header
  position: fixed
  background: #ffffff
  height: 197px
  width: 100%
  top: 0
  left: 0
  text-transform: uppercase
  z-index: 9
  transition: height 1s ease-in

  div.wrapper.holder
    text-align: center

    .header-left
      float: left
      width: calc(50% - 80px)
      text-align: left

      .social
        +flex(row nowrap, flex-start, center)
        +firstHeaderRow()

        span
          color: #757575

        a
          margin-left: 2.4rem

    .info-holder
      +flex(row nowrap, space-between, center)
      padding: 3.6rem 3rem 0 0

    a.info-item
      color: #757575
      line-height: 1.5rem
      &:hover
        text-decoration: none
        color: $primary-color
        span
          text-decoration: underline

      span
        font-weight: bold
        display: block


    .left-mobile
      width: 100%
      padding-top: 4rem

      .mobile-actions
        +flex(row nowrap, space-around, center)

        .search
          svg
            width: 48px
            height: 48px

    .mobile-menu
      button.dropdown-toggle
        background-color: transparent
        border: none
        padding: 0

      .dropdown-menu
        border: none
        border-radius: 0
        background: $primary-color
        li
          a
            color: #FFFFFF
            font-weight: bold
            font-size: 1.6rem
            &:hover
              background-color: #245580

    .header-right
      @extend .header-left
      float: right

      .header-actions
        +flex(row nowrap, flex-end, center)
        +firstHeaderRow()

        a.action-link
          color: $primary-color
          margin-left: 3rem
          &:hover
            text-decoration: none

          svg
            vertical-align: bottom
            margin-left: 0.6rem

        ul
          li.active
            position: relative
            border-bottom: 2px solid $primary-color
            font-weight: bold
            &:hover
              ul.drop-lang
                height: auto
                max-height: 300px
                background-color: $primary-color

            a
              color: $primary-color
              &:hover
                text-decoration: none

              svg
                vertical-align: middle

            ul.drop-lang
              height: 0
              max-height: 0
              overflow: hidden
              position: absolute
              width: 100%
              left: 0
              top: 100%
              background-color: transparent
              transition: background-color 2s, max-height 1s ease-out

              li
                text-align: center
                padding: 0.6rem 0

                a
                  color: #FFFFFF

      .info-holder
        padding: 3.6rem 0 0 3rem

        a.button-free
          background: $primary-color
          color: #FFFFFF
          font-weight: bold
          line-height: 18px
          padding: 6px 20px
          border-radius: 15px
          svg
            vertical-align: baseline
            margin-left: 6px
          &:hover
            text-decoration: none

        a.button-account
          background: #FFFFFF
          color: $primary-color
          font-weight: bold
          line-height: 18px
          border: 2px solid $primary-color
          border-radius: 15px
          padding: 4px 20px
          svg
            vertical-align: middle
            margin-left: 12px
          &:hover
            text-decoration: none

        a.search
          line-height: 0

    .logo-holder
      margin: 0 auto
      max-width: 135px
      padding-top: 2rem

      a
        display: block

body.sticky-header
  padding-top: 135px
  header
    height: 135px
    border-bottom: 1px solid #f1f1f1

    div.wrapper.holder
      .logo-holder
        padding-top: 0

      .header-actions
          height: 0
          opacity: 0
          padding-top: 0
          overflow: hidden

      .social
        @extend .header-actions

      .info-holder
        padding-top: 6.6rem !important

@media #{screen} and (max-width: 990px)
  body, body.sticky-header
    padding-top: 135px
    header
      height: 135px
      border-bottom: 1px solid #f1f1f1
      div.wrapper.holder
        .logo-holder
          padding-top: 0

        .info-holder
          padding-top: 0 !important

        .header-right
          .info-holder
            flex-direction: column
            justify-content: space-around
            height: 135px

            a.button-free, a.button-account
              min-width: 150px
              padding-left: 12px
              padding-right: 12px
              font-size: 1.2rem

            a.button-account
              svg
                vertical-align: sub

@media #{screen} and (max-width: 505px)
  body, body.sticky-header
    header
      padding: 0 6px
      div.wrapper.holder
        .header-left
          width: calc(50% - 70px)
          .left-mobile
            padding-top: 6rem
            .search
              svg
                width: 36px !important
                height: 36px !important

            .mobile-menu
              button.dropdown-toggle
                img
                  width: 36px
                  height: 36px

        .header-right
          width: calc(50% - 70px)
          .info-holder

            a.button-free, a.button-account
              min-width: 100%
              padding-left: 8px
              padding-right: 0
              font-size: 1rem
              text-align: center
              svg
                margin-left: 0
                vertical-align: middle
