main
  +gradient(#f0eeed, #f1f1f0)

  .background-holder
    background: url("../images/bg.png") no-repeat 50% 100%
    background-size: 100% 100%
    min-height: $main-width //REMOVE!!!

    .content-wrapper
      margin: 4rem auto
      padding: 4rem
      background: #FFFFFF

      section
        border-bottom: 1px solid #f1f1f1
        h1, p
          margin-bottom: 2.4rem

        p
          font-family: serif
          color: #757575